.post{
    max-width: 900px;
    min-width: 500px;
    min-height: 600px;
    margin: 0 auto 10px auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #242526;
    text-align: justify;
    line-height: 1.5;
}
